include towerpy/io/lnxlibreadpolarradardata.so
include towerpy/io/wdwlibreadpolarradardata.dll
include towerpy/eclass/lnxlibclutterclassifier.so
include towerpy/eclass/wdwlibclutterclassifier.dll
include towerpy/attc/lnxlibattenuationcorrection.so
include towerpy/attc/wdwlibattenuationcorrection.dll
include towerpy/eclass/ukmo_mfs/*.dat
include towerpy/eclass/ukmo_cmaps/*.dat
