include towerpy/io/lnxlibreadpolarradardata.so
include towerpy/io/w64libreadpolarradardata.dll
include towerpy/eclass/lnxlibclutterclassifier.so
include towerpy/eclass/w64libclutterclassifier.dll
include towerpy/attc/lnxlibattenuationcorrection.so
include towerpy/attc/w64libattenuationcorrection.dll
include towerpy/eclass/mfs_cband/*.dat
include towerpy/eclass/ukmo_cmaps/*.dat
